<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Byteboomers UI</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.1.2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
    />
    <link rel="stylesheet" href="./components.css" />
  </head>
  <body>
    <div id="app" class="bg-gray-100 p-4">
      <div class="mb-4 text-center">
        <h1 class="text-5xl pt-8 pb-4">Byteboomers UI</h1>
      </div>
      <div class="container mx-auto px-4">
        <h2 class="text-3xl mt-8 mb-6">Blankslate</h2>
        <section class="segment">
          <div class="blankslate">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A rerum,
            distinctio sed deleniti officiis quibusdam omnis, voluptatibus quis
            repudiandae reiciendis iste soluta deserunt? Vero ut minima tempora
            blanditiis quidem ratione.
          </div>
        </section>
        <h2 class="text-3xl mt-8 mb-6">Buttons</h2>
        <section class="segment">
          <div class="mb-4">
            <label for="buttons--disabled" class="checkbox">
              <input
                type="checkbox"
                id="buttons--disabled"
                name="buttons--disabled"
                v-model="buttons.disabled"
              />
              disabled
            </label>
          </div>
          <div class="flex justify-between">
            <button class="button" :disabled="buttons.disabled">
              Regular
            </button>
            <button class="button button--primary" :disabled="buttons.disabled">
              Primary
            </button>
            <button
              class="button button--positive"
              :disabled="buttons.disabled"
            >
              Positive
            </button>
            <button
              class="button button--negative"
              :disabled="buttons.disabled"
            >
              Negative
            </button>
            <button class="button button--link" :disabled="buttons.disabled">
              Link
            </button>
            <button
              class="button button--link-muted"
              :disabled="buttons.disabled"
            >
              Link muted
            </button>
            <button
              class="button button--link-inverted"
              :disabled="buttons.disabled"
            >
              Inverted
            </button>
          </div>
          <div class="flex justify-between mt-4">
            <a href="#" class="button" :disabled="buttons.disabled">
              Regular
            </a>
            <a
              href="#"
              class="button button--primary"
              :disabled="buttons.disabled"
            >
              Primary
            </a>
            <a
              href="#"
              class="button button--positive"
              :disabled="buttons.disabled"
            >
              Positive
            </a>
            <a
              href="#"
              class="button button--negative"
              :disabled="buttons.disabled"
            >
              Negative
            </a>
            <a
              href="#"
              class="button button--link"
              :disabled="buttons.disabled"
            >
              Link
            </a>
            <a
              href="#"
              class="button button--link-muted"
              :disabled="buttons.disabled"
            >
              Link muted
            </a>
            <a
              href="#"
              class="button button--link-inverted"
              :disabled="buttons.disabled"
            >
              Inverted
            </a>
          </div>
        </section>
        <h2 class="text-3xl mt-8 mb-6">Divider</h2>
        <section class="segment">
          Above
          <div class="divider"></div>
          Below
        </section>
        <h2 class="text-3xl mt-8 mb-6">Form</h2>
        <section class="segment">
          <div class="mb-4">
            <label for="form--loading" class="checkbox">
              <input
                type="checkbox"
                id="form--loading"
                name="form--loading"
                v-model="form.loading"
              />
              loading
            </label>
          </div>
          <form
            :class="['form', form.loading && 'form--loading']"
            data-loading-text="Loading..."
          >
            <div class="form__field">
              <label class="form__field__label">Text input</label>
              <input type="text" placeholder="placeholder" class="input" />
            </div>
            <div class="form__field">
              <label class="form__field__label">Disabled input</label>
              <input
                type="text"
                placeholder="placeholder"
                disabled="true"
                class="input"
              />
            </div>
            <div class="form__field">
              <label class="form__field__label form__field__label--required"
                >Required text area</label
              >
              <textarea placeholder="placeholder" class="textarea"></textarea>
            </div>
            <div class="form__field">
              <label for="terms-checkbox" class="checkbox">
                <input type="checkbox" id="terms-checkbox" />
                I agree with the <a href="#">terms and conditions</a>
              </label>
            </div>
            <button class="button button--primary" type="submit">Submit</button>
          </form>
        </section>
        <h2 class="text-3xl mt-8 mb-6">Grid</h2>
        <section class="segment">
          <div class="grid grid-6">
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">Column</div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">Column</div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">Column</div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">Column</div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">Column</div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">Column</div>
          </div>
        </section>
        <h2 class="text-3xl mt-8 mb-6">Loader</h2>
        <section class="segment">
          <div class="loader"></div>
          <div class="divider my-8"></div>
          <div class="loader loader--text">Loading</div>
        </section>
        <h2 class="text-3xl mt-8 mb-6">Links</h2>
        <section class="segment">
          <div class="flex justify-between">
            <div>
              <a href="#" class="link">Regular</a>
            </div>
            <div>
              <a href="#" class="link link--understroke">Understroke</a>
            </div>
            <div>
              <a href="#" class="link link--muted">Muted</a>
            </div>
            <div>
              <a href="#" class="link link--muted link--understroke"
                >Muted + understroke</a
              >
            </div>
            <div>
              <a href="#" class="link link--inverted">Inverted</a>
            </div>
            <div>
              <a href="#" class="link link--inverted link--understroke"
                >Inverted + understroke</a
              >
            </div>
          </div>
        </section>
        <h2 class="text-3xl mt-8 mb-6">HLJS</h2>
        <section class="segment">
          <pre><code class="hljs"><span class="hljs-tag">&lt;<span class="hljs-name">form</span> <span class="hljs-attr">action</span>=<span class="hljs-string">"https://submit-form.com/6c8edc88-67f4-4f11-bc04-859bafcb063e"</span> <span class="hljs-attr">target</span>=<span class="hljs-string">"_self"</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- Prevent spam without a captcha --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"checkbox"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"_honeypot"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"display: none"</span> <span class="hljs-attr">tabindex</span>=<span class="hljs-string">"-1"</span> <span class="hljs-attr">autocomplete</span>=<span class="hljs-string">"off"</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- All elements must have a name attribute --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"subject"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Subject"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">textarea</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"message"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Message"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">textarea</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"email"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"Your email"</span>&gt;</span>
    <span class="hljs-comment">&lt;!-- A button of type submit --&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"submit"</span>&gt;</span>Submit<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">form</span>&gt;</span></code></pre>
        </section>
        <h2 class="text-3xl mt-8 mb-6">Notification</h2>
        <section class="segment">
          <div class="notification">Hello, World!</div>
        </section>
        <h2 class="text-3xl mt-8 mb-6">Segment</h2>
        <section class="segment">
          <div class="segment">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            natus distinctio recusandae quisquam aliquam dolore consequatur ea,
            vel rerum excepturi a, asperiores, iure eos impedit quos eius libero
            odio. Nulla.
          </div>
        </section>
        <h2 class="text-3xl mt-8 mb-6">Table</h2>
        <section class="segment">
          <div class="mb-4">
            <label for="table--bordered" class="checkbox">
              <input
                type="checkbox"
                id="table--bordered"
                name="table--bordered"
                v-model="table.bordered"
              />
              bordered
            </label>
          </div>
          <div class="mb-4">
            <label for="table--relaxed" class="checkbox">
              <input
                type="checkbox"
                id="table--relaxed"
                name="table--relaxed"
                v-model="table.relaxed"
              />
              relaxed
            </label>
          </div>
          <table
            :class="['table', table.bordered && 'table--bordered', table.relaxed && 'table--relaxed']"
          >
            <thead>
              <tr class="table__row">
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Comment</th>
                <th scope="col">Lorem</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table__row">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Default</td>
                <td>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </td>
              </tr>
              <tr class="table__row table__row--positive">
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Positive</td>
                <td><i>Empty</i></td>
              </tr>
              <tr class="table__row table__row--selectable">
                <th scope="row">3</th>
                <td colspan="2">Selectable</td>
                <td><i>Empty</i></td>
              </tr>
              <tr class="table__row table__row--selected">
                <th scope="row">3</th>
                <td colspan="2">Selected</td>
                <td>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            buttons: {
              disabled: false
            },
            form: {
              loading: false
            },
            table: {
              bordered: false,
              relaxed: false
            }
          };
        }
      });
    </script>
  </body>
</html>
